.my-purple {
    background-color: purple;
}

.header {
    color: teal;
    text-shadow: 2px 2px lightgray;
}

.h5 {
    color: teal;
    text-align: center;
}

.left {
    float: left;
    padding: 0 10px 0 0;
}

.right {float: left;
    padding: 0 10px 0 0;
}